.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-adj {
  background: #2a3238;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .navbar{
  height: 12vh;
  max-height: 120vh;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.adj-w {
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #742424;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.adj-w:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute; 
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.adj-w:active {
  color: #803333;
}

.adj-w:active:after {
  background: transparent;
}

.adj-w:hover:before {
  opacity: 1;
}

.adj-w:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.custom-link-class {
  width: 5rem;
  height: 2.4rem;
  background-color: rgb(202, 113, 190);
  color: rgb(136, 31, 31);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.custom-link-class:hover {
  background-color: #61dafb;
}

.nav-link.active {
  color: blue;
}


/* for laptop only */
@media screen and (min-width: 1024px) and (max-width: 1499px) {
  .navbar {
    height: 10vh;
    background: #2a3238;
  }
}

@media only screen and (max-width: 767px) {
  .nav-adj {
    background: #2a3238 !important;
  }
}